$taskbarBaseColor: #D2D1C8;

@mixin depthEffect ($topLeft, $bottomRight) {
  border-top: 2px solid $topLeft;
  border-left: 2px solid $topLeft;
  border-right: 2px solid $bottomRight;
  border-bottom: 2px solid $bottomRight;
}

.taskbarContainer {
  background-color: $taskbarBaseColor;
  height: 44px;
  border-top: 2px solid $taskbarBaseColor;
  padding: 0;
  position: relative;

  .taskbarDepthDecorator1 {
    height: 2px;
    width: 100%;
    background-color: white; 
  }

  
  
  .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    height: 42px;  

    .divider {
      @include depthEffect(#808080, white);
      height: 32px;
      margin-right: 10px;
      margin-left: 10px;
    }

    .taskbarWindows {
      display: flex;
    }
  }
}

